body {
  background-color: #f5f6fa;
}
.main-section {
  width: 68%;
}
.header-flex {
  display: flex;
  justify-content: space-between !important;
}

.card {
  width: 15vw;
  height: 12vh;
}

.app__card {
  display: flex;
  justify-content: space-between;
}
